<form #form="ngForm" class="my-2" autocomplete="off">
  <div class="contenant">
    <div style="word-wrap: break-word;">
      <div class="label" [ngClass]="{ displaynone: (form.invalid && !model.a.premieressai)  }">{{ model.a.label }}
      </div>
      <div class="error" [ngClass]="{ displaynone: !(form.invalid && !model.a.premieressai)  }">{{ model.a.errormsg }}
      </div>
    </div>
    <div class="centercenter">
      <input class="input" [attr.data-testid]='model.a.id' #password="ngModel" [type]="hide ? 'password' : 'text'"
        name="password" style="word-wrap: break-word;" [(ngModel)]="model.a.input" [minlength]="model.a.minlength"
        [maxlength]="model.a.maxlength" [pattern]="model.a.pattern" [maxlength]="model.a.maxlength"
        (input)="model.a.validity=!(form.invalid);" autocomplete="off" />
      <fa-icon [icon]="faEye" style="font-size: 20px;" class="px-1" (click)="myFunction()"></fa-icon>
    </div>
  </div>
</form>
