<form #form="ngForm" class="my-2" autocomplete="off">
  <div class="contenant">
    <div style="word-wrap: break-word;">
      <div class="label" [ngClass]="{ displaynone: (form.invalid && !model.a.premieressai)  }">{{ model.a.label }}
      </div>
      <div class="error" [ngClass]="{ displaynone: !(form.invalid && !model.a.premieressai)  }">{{ model.a.errormsg }}
      </div>
    </div>
    <input class="input" [attr.data-testid]='model.a.id' type="text" name="text" [(ngModel)]="model.a.input"
      #text="ngModel" style="word-wrap: break-word;" [minlength]="model.a.minlength" [maxlength]="model.a.maxlength"
      (input)="model.a.validity=!(form.invalid);" autocomplete="off" />
  </div>
</form>
